<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newTasks.forEach(function(item) { %>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%= item._id %>" onChange="this.form.submit()">
          <p><%= item.name %></p>
        </div>
        <input type="hidden" name="listName" value="<%= listTitle %>"></input>
      </form>
    <% }); %>

    <form class="item" action="/" method="post">
      <input type="text" name="newTask" placeholder="Insert new task">
      <button type="submit" name="button" value="<%= listTitle %>">+</button>  
    </form>
  </div>



  <!-- <% if (listTitle === "Friday") { %>
        <h1 style="color: purple"><%= listTitle %> To Do List! </h1>
    <% } else { %>
        <h1 style="color: blue"><%= listTitle %> To Do List! </h1>
    <% } %>   */ -->

<%- include("footer") -%>
